@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

/* label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
} */

.navbar-header {
  text-transform: uppercase;
  color: crimson;
  display: flex;
  justify-content: center;
}

.navbar-logged {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.navbar-left a {
  margin-right: 1rem;
}

.navbar-right a {
  margin-left: 1rem;
}

/* All Products */

.all-products-container,
.all-users-container {
  padding: 0 3rem;
}

.all-products,
.all-users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.single-product,
.single-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.single-product-name {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.single-product-name:hover {
  color: crimson;
}

/* BUTTON */
.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  background: crimson;
  color: #fff;
  border: 1px solid crimson;
  transition: 0.2s all ease;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: crimson;
}

/* All Users */
.user-image {
  width: 100px;
  height: 100px;
}

.product-image {
  width: 100px;
  height: 100px;
}

/* AUTH FORM */

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* CART */

.cart-container {
  padding: 1rem 3rem;

  display: flex;
  justify-content: center;
}

.cart {
}
