@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

/* label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
} */

.navbar-container {
  padding: 0 3rem;
}

.navbar-header {
  text-transform: uppercase;
  color: crimson;
  display: flex;
  justify-content: center;
}

.navbar-logged {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.navbar-left a {
  margin-right: 1rem;
}

.navbar-right a {
  margin-left: 1rem;
}

.nav-item {
  text-transform: uppercase;
  transition: 0.3s all ease;
  padding-bottom: 0.3rem;
  border-bottom: 1px transparent;
}

.nav-item:hover {
  color: crimson;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid crimson;
}

/* All Products */

.all-products-container,
.all-users-container {
  padding: 0 3rem;
}

.all-products,
.all-users {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.single-product,
.single-user {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem;
}

.single-user-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-user img {
  width: 100px;
  height: 100px;
}

.single-product-name {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.single-product-name:hover {
  color: crimson;
}

/* BUTTON */
.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  background: crimson;
  color: #fff;
  border: 1px solid crimson;
  transition: 0.2s all ease;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: crimson;
}

.btn-outline {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  background: #fff;
  color: crimson;
  border: 1px solid crimson;
  transition: 0.2s all ease;
  cursor: pointer;
}

.btn-outline:hover {
  background: crimson;
  color: #fff;
}

/* All Users */
.user-image {
  width: 100px;
  height: 100px;
}

.product-image {
  width: 100px;
  height: 100px;
}

/* Admin Page */

.adminHeadersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.adminHeaders {
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s all ease;
}

.adminHeaders:hover {
  color: crimson;
}

/* ADD PRODUCT FORM */
.form-container {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.form-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  width: 50%;
  border-radius: 5px;
  border: 2px solid crimson;
  background: #f3f3f3;
}

.form-container .form-item {
  width: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form-item input {
  border: 1px solid rgb(182, 182, 182);
  display: block;
  width: 100%;
  border-radius: 5px;
  font-size: 0.8rem;
}

.form-item label {
  margin-bottom: 0.5rem;
}

.form-container button {
  margin-top: 0.5rem;
}

/* Admin Single Product Form */
.single-product-edit-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3rem;
}

.product-image-edit-form {
  width: 300px;
  height: 260px;
}

.current-product-edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.single-product a {
  margin-bottom: 1rem;
}

.single-product-name-edit-form {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.single-product-name-edit-form:hover {
  color: crimson;
}

.editSingleProductAdminForm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
  width: 90%;
  margin: 0 auto 100px;
}

/* AUTH FORM */

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.auth-item input {
  padding: 0.3rem 0;
  border: none;
  border-bottom: 1px solid #666;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
  width: 18rem;
}

.auth-item .btn {
  margin-right: 1rem;
}

.auth-item:last-child {
  margin-top: 1.5rem;
}

.user-home {
  display: flex;
  justify-content: center;
}

/* CART */

.cart-container {
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
}

.cart-item {
  padding: 1.5rem 3rem 1.5rem 0;
  border-bottom: 1px solid #999;
}

.cart:last-child {
  border: 0;
}

.cart-checkout {
  padding: 1.5rem 3rem 1.5rem 0;
}

.quantity-input {
  padding: 0.5rem;
  margin-right: 1em;
}

.quantity-input:focus {
  outline: none;
}

/* ACCOUNT */

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
  margin-bottom: 2rem;
}

.account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
}

.account h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.account-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.account-item p {
  margin-right: 1rem;
}
