@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

/* label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
} */

.navbar-container {
  padding: 0 3rem;
}

.navbar-header {
  text-transform: uppercase;
  color: crimson;
  display: flex;
  justify-content: center;
}

.navbar-logged {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.navbar-left a {
  margin-right: 1rem;
}

.navbar-right a {
  margin-left: 1rem;
}

.nav-item {
  text-transform: uppercase;
  transition: 0.3s all ease;
}

.nav-item:hover {
  color: crimson;
}

/* All Products */

.all-products-container,
.all-users-container {
  padding: 0 3rem;
}

.all-products,
.all-users {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.single-product,
.single-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.single-user-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-user img {
  width: 100px;
  height: 100px;
}

.single-product-name {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.single-product-name:hover {
  color: crimson;
}

/* BUTTON */
.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  background: crimson;
  color: #fff;
  border: 1px solid crimson;
  transition: 0.2s all ease;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: crimson;
}

.btn-outline {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  background: #fff;
  color: crimson;
  border: 1px solid crimson;
  transition: 0.2s all ease;
  cursor: pointer;
}

.btn-outline:hover {
  background: crimson;
  color: #fff;
}

/* All Users */
.user-image {
  width: 100px;
  height: 100px;
}

.product-image {
  width: 100px;
  height: 100px;
}

/* Admin Page */
.adminPage-container {
  /* display: flex;
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
}

.adminHeadersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.adminHeaders {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
}

.newProductForm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
  width: 40%;
  margin: 0 auto 100px;
}

.newProducFormInput {
  width: 500px;
  height: 30px;
}

.newProducFormInputHeader {
  justify-items: flex-start;
  align-self: flex-start;
  margin: 30px 30px;
}

.newProductCreateButton {
  justify-items: flex-start;
  align-self: flex-start;
  width: 50px;
  height: 30px;
  margin: 30px 0;
}

.newProductCreateButton-container {
  width: 500px;
}

/* AUTH FORM */

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.auth-item input {
  padding: 0.3rem 0;
  border: none;
  border-bottom: 1px solid #666;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
  width: 18rem;
}

.auth-item .btn {
  margin-right: 1rem;
}

.auth-item:last-child {
  margin-top: 1.5rem;
}

.user-home {
  display: flex;
  justify-content: center;
}

/* CART */

.cart-container {
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
}

.cart {
}

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
  margin-bottom: 2rem;
}

.account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
}

.account h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.account-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.account-item p {
  margin-right: 1rem;
}
